.searchbar {
  width: 70%;
  margin: 0 auto;
  font-family: sans-serif;
  font-size: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  margin-top: 5px;
  padding: 3px;
  border-radius: 10px;
}
